/* You can add global styles to this file, and also import other style files */
form {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

form .col-md-12 {
	margin-top: 20px;
}

form .form-group {
	margin-top: 20px;
}

label {
	font-size: 16px;
}

.btn {
	font-size: 14px;
	width: 40%;
	margin-bottom: 30px;
}