.appHome {
	text-align: center
}

.appHeader {
	padding: 5em 0;
}

.appHeader #appHeader-heading {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 5px;
}
.appHeader #appHeader-getStartedBtn {
	margin-top: 1em;
}
.appHeader #appHeader-getStartedBtn .btn {
	padding: 1em 2em;
	width: 20%;
}

.appCalculator {
	padding: 3em 0;
}

.appCalculator #appCalculator-image {
	box-shadow: -10px 10px 5px #888888;
}
.appCalculator #appCalculator-description {
	padding: 5em 0;
}

.appCalculator #appCalculator-description, 
.appForSupervisor #appForSupervisor-description {
	font-size: 16px;
}

.appForSupervisor {
	padding: 5em 0;
}

.appForSupervisor #appForSupervisor-description {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.appForSupervisor #appForSupervisor-signup-login .btn {
	margin-top: 2em;
	padding: 1em 2em;
	width: 20%;
}
.appForSupervisor #appForSupervisor-signup-login .btn:first-child {
	margin-right: 2em;
}

.appFooter {
	padding: 3em 0;
}

.appFooter #appFooter-ProjectTeam {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
}