<div class="appHome">
	<hr/>
	<div class="appHeader">
		<div id="appHeader-heading">
			Foreign Exchange <br>
			Rate Calculator
		</div>
		<div id="appHeader-getStartedBtn">
			<!-- Calculator Link -->
			<div class="btn btn-primary" [routerLink]="['/calculator']">Get Started</div> 
		</div>
	</div>
	<hr/>
	<div class="appCalculator">
		<div class="row">
			<div class="col-md-6">
				<div id="appCalculator-description">
					With the Foreign Exchange Rate Currency Calculator, you can convert a numeric amount from and to any of the 30 available currencies in our database. Just select two currencies from the dropdown menu and enter a numeric amount.
				</div>
			</div>
			<div class="col-md-6" id="appCalculator-image">
				<img src="assets/img/pic.PNG" alt="Fantastic_Four_FxrCalculator" class="img-thumbnail" />
			</div>
		</div>
	</div>
	<hr/>
	<div class="appForSupervisor">
		<div id="appForSupervisor-description">
			Supervisors of Western Union are eligible to access our dashboard. Simply setup a user account by registering and logging in to view exclusive content, such as a list of live exchange rates for 60+ currencies in our database.
		</div>
		<div id="appForSupervisor-signup-login">
			<div class="btn btn-primary" [routerLink]="['/register']">Register</div>
			<div class="btn btn-primary" [routerLink]="['/login']">Login</div>
		</div>
	</div>
	<hr/>
	<div class="appFooter">
		<div id="appFooter-ProjectTeam">
			Ramanpreet C. Dhwanish P. Justin P. Baitao W. <br>
			Professor Brown . CIS 5800
		</div>
	</div>
</div>