{% extends "index.html" %}

{% block header %}
<div class="landing-header">
	<div class="container">
		<div class="row">
			<h1>Currency Converter</h1>
			<p>Convert a currency of your choice</p>
		</div>
		<div class="row">
			<div class="landing-button">
				<a href="#">
					<div class="get-started-btn">Get Started</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
<div class="landing-calculator">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-6">
				<p>Convert using the built-in calculator with 176 currencies.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-6">
				<p>Calculator image</p>
			</div>
		</div>
	</div>
</div>

<div class="landing-header">
	<div class="container">
		<div class="row">
			<h1>Employees</h1>
			<p>Get access to our unique exchange rate dashboards and view historical rates of USD.</p>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12">
				<div class="landing-button">
					<a href="#">
						<div class="sign-up-btn">Sign Up</div>
					</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<div class="landing-button">
					<a href="#">
						<div class="login-btn">Login</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Preview the dashboard
<div class="landing-dashboard">
	<div class="container-fluid">
		<div class="row">
			
		</div>
	</div>
</div>
 -->
{% endblock %}