{% extends "index.html" %}

{% block header %}
<h1>Dahsboard</h1>
{% endblock %}

{% block main %}
<h3>Dashboard Body</h3>
<div class="container">
	<div class="row">
		<div class="form-group">
			<label>Amount</label>
			<input type="number" class="form-control">
			<!-- On Event Click handle or submit -->
		</div>
	</div>
	<div class="row">
		<p>United States Dollar: {{USD}}</p>
		<p>Euro: {{EUR}}</p>
		<p>Rupee: {{INR}} </p>
		<p>Australian Dollar: {{AUD}}</p>
	</div>
</div>
</div>
{% endblock %}