<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<navbar></navbar>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-6" align="left">Fantastic Four</div>
				<div class="col-md-6" align="right">Fxr Calculator</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<router-outlet></router-outlet>
				</div>
				<div class="flashMessages col-md-12">
					<flash-messages></flash-messages>
				</div>
			</div>
		</div>
	</div>
</div>