<div class="row">
	<h2 class="page-header">Calculator</h2>
</div>
<div class="conversionView">
	<div class="row">
		<ul class="list-group col-md-12">
			<li class="list-group-item">Base Currency: {{fromCurrency}}</li>
			<li class="list-group-item">Convert to Currency: {{toCurrency}}</li>
			<li class="list-group-item">Amount: {{amount}}</li>
			<li class="list-group-item">Converted Amount: {{convertToAmount}}</li>
		</ul>
	</div>
	<div class="row">
		<div class="btn btn-primary col-md-12" [routerLink]="['/calculator']">Back</div>
	</div>
</div>