nav {
	background-color: #127ba3;
	height: 100%;
	width: 15%;
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul.general {
	margin-top: 40%;
}

h4 {
	margin-left: 18px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: lowercase;
}

nav ul li {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.btn {
	width: 100%;
	margin-bottom: 0;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #eeeeee;
	color: #127ba3;
	width: 100%;
}