<nav class="navbar navbar-default navbar-fixed-top">
	<p>Sidenav</p>
	<ul>
		<li><a [routerLinkActive]="['active']" [routerLink]="['/']">Home</a></li>
		<li><a [routerLinkActive]="['active']" [routerLink]="['/calculator']">Calculator</a></li>
	</ul>
</nav>

<!-- <nav>
	<ul >
		<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact:true }"><a [routerLinkActive]="['active']" [routerLink]="[/]">Home</a></li>
		<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact:true }"><a [routerLinkActive]="['active']" [routerLink]="['/calculator']">Calculator</a></li>
	</ul>
</nav> -->